.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-container > * {
  margin: 4px 0;
}