.text-box-title:empty:before {
  content: attr(placeholder);
  color: rgba(0, 0, 0, .38);
  font-weight: 500;
}

.text-box-text:empty:before {
  content: attr(placeholder);
  color: rgba(0, 0, 0, .38);
  font-weight: 500;
  letter-spacing: .015em;
}